
# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# IDEs y editores
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Cache de Laravel
bootstrap/cache/*
!bootstrap/cache/.gitignore
